* {
     box-sizing: border-box;
}

 body {
     margin: 0;
     font-size: 13px;
     font-weight: normal;
     overflow-y: scroll;
     font-family: sans-serif;
     padding: 10px;
}

 h1, h2, h3, h4, h6 {
     margin: 10px;
}

footer {
     margin: 20px;
     padding: 10px;
}

.flex-container >div {
     background-color: #87CEFA/*#f1f1f1*/;
     margin: 10px;
     padding: 20px;
     background-image: url("img/background.png");
}

 .logo {
     margin: 10px;
     background-color: #87CEFA;
     padding: 10px;
}

 .name h1, h2 {
     margin-left: center;
     text-align: right;
     padding: 10px;
     background-color: #87CEFA;
}


 .background-image {
     background-position: center;
     margin-left: 10px;
     padding: 10px;
}

 .featured-work {
     width: 100%;
     padding: 10px;
     font-family: sans-serif;
     text-align: center;
     background-color: #87CEFA;/*#80ced6*/
}

 .featured-work-images:after {
     content: "";
     clear:both;
     display: table;
     padding: 10px;
     background-color: #87CEFA;
     padding: 10px;
}

 .box {
     float: left;
     padding: 10px;
     width: 80%;
}

 .featured-work-images {
     margin-left: auto;
     padding: 10px;
     display: -webkit-flex;
     -webkit-flex-direction: row-reverse;
     display: flex;
     flex-direction: row-reverse;
     background-color: #87CEFA;
     
}

@media (max-width: 700px) {
     .background-image, .box {
     justify-content: space-around;
     }
}

